.heading {
    padding-top: 5%;
}
.bulleted-list {
    list-style-type: disc;
    margin-left: 20px;
}

.nav-link {
    font-weight: bold;
    padding: 12px 8px; 
    font-size: 20px; 
    font-family: 'Helvetica Now Display Medium', Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin: 0 6px;
}

.nav-button {
    font-weight: bold;
    padding: 2px 8px;
    font-size: 18px;
    font-family: 'Helvetica Now Display Medium', Helvetica, Arial, sans-serif;
    font-weight: 500;
}